.app {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  padding: 2rem;
  width: 80%;
  margin: auto;
  height: 100vh;
}

.users-container {
  margin-top: 2rem;
}

.btn-container {
  display: flex;
  gap: 1rem;
}

.btn {
  background-color: rgb(77, 77, 218);
  color: white;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
